.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 10%;
    left: 0;
    right: 0;
    background-color: #495867;
    justify-content: center;
    align-items: center;
}

.footer .icon {
    margin: 0px 10px;
    font-size: 2.5rem;
}

.footer .icon:hover {
    color: #c18c5d;
}
