.footer {
    display: flex;
    /* position: fixed; */
    bottom: 0;
    height: 5rem;
    left: 0;
    right: 0;
    background-color: #798071;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
}

.footer .icon {
    margin: 0px 10px;
    font-size: 2.5rem;
}

.footer .icon:hover {
    color: #999ac6;
}