body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: var(--alabaster);
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
}

:root {
    --alabaster: #e8ebe4;
    --bluegray: #3a435e;
    --cool-gray: #999ac6;
    --battleship: #798071;
}

/* About Page */
.about-container {
    width: 85rem;
    justify-content: center;
    margin: 0 auto;
    min-height: 70vh;
}

.title {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.about-container p {
    font-size: 1.5rem;
}

.image-container {
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */

h1 {
    margin-left: 2rem;
}

/* Portfolio Page */

.card {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.port-card {
    display: flex;
    border: 3px black solid;
    border-radius: 1rem;
    align-items: flex-end;
    justify-content: flex-start;
    height: 15rem;
    width: 30rem;
    padding: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.port-icon {
    font-size: 3rem;
    margin: 0 0.5rem;
    color: var(--bluegray);
    -webkit-text-stroke: 2px black;
}

.port-title {
    margin: 0 0.5rem;
    font-size: 2.5rem;
}

.port-card a {
    text-decoration: none;
    color: var(--bluegray);
    -webkit-text-stroke: 2px black;
}

.port-card a:hover,
.port-icon:hover {
    color: var(--cool-gray);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85rem;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
}

/*  */

/* Contact Page */
.contact-form {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 41rem;
}

.box {
    margin-bottom: 1rem;
}

.container label {
    display: flex;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

input {
    height: 1.45rem;
    width: 20rem;
    border-radius: 0.5rem
}

#message {
    height: 11rem;
    width: 20rem;
    border-radius: 0.5rem
}

.submit-btn {
    width: 20.5rem;
    border-radius: 0.5rem;
    height: 2rem;
    background-color: var(--bluegray);
    color: white;
}

.submit-btn:hover {
    color: black;
    background-color: var(--cool-gray);
    cursor: pointer;
}

/*  */

/* Resume Page */
.resume-container {
    margin-left: 5rem;
    height: 40.5rem;
}

.resume-container h3 {
    font-size: 1.5rem;
}

.resume-btn {
    border: none;
    background: var(--alabaster);
    font-weight: bold;
    color: var(--bluegray)
}

.resume-btn:hover {
    color: var(--cool-gray);
    cursor: pointer;
}

/*  */